body{
				background: url(../img/bg.png);/*添加背景图片*/
				background-position: center center ;/*设置垂直 水平居中*/
				background-repeat: no-repeat;/*设置背景图片不平铺*/
				background-attachment: fixed;/*当内容高度大于图片高度时，背景图片的位置相对于viewport固定*/
				background-size: cover;/*让背景图片基于容器大小伸缩*/
				
				}
				
			.login{
				padding-top: 25px;
				width: 400px;
				height: 425px;
				margin: auto;
				color: #FFFFFF;
				background-color: rgba(0,0,0,0.6);
				margin-top: 100px;
			
			}
			h1{
		    	color: #fff;
		    	text-shadow: 0 0 10px;
		    	letter-spacing: 1px;
		    	text-align: center;
		    	font-family: 华文新魏;
		    	margin-bottom: 25px;
		    	margin-top: 30px;
		    }
		    .form-group{
		    	width: 360px;
				height:40px;
				margin: auto;
				margin-bottom: 30px;
		    }
		    .form-group .from-label{
				width: 90px;
				height: 40px;
				margin-left:30px ;
				font-size: 20px;
				text-align: center;
				line-height: 40px;
				font-family: 华文新魏;
				color: #FFFFFF;
				float: left;
			}
			input{
				margin-top:6px ;
		    	width: 200px;
		    	height: 15px;
		    	outline: nono;
		    	padding: 5px;
		    	font-size: 13px;
		    	color: #FFFFFF;
		    	border: solid #FFFFFF 1px;
		    	background:none;
		    	border-radius: 20px;
		    	float: left;
		    }
		    .form-group .checkbox{
				color: #FFFFFF;
				margin-right: 30px;
				float: left;
				margin-left: 40px;
			}
			.group{
				margin-bottom: 0px;
				position: relative;
			}
			.form-group .checkbox input{
				width: 35px;
				background-color: none;
			}
			.form-group .checkbox label{
				font-size: 15px;
			}
			
			 .deng{
		    	width:90px;
		    	margin-right: 50px;
		    	margin-left: 20px;
		    	float:left;
		    }
		    .deng input{
		    	background: no-repeat scroll 0 0 none;
                height:35px;
                width:80px;
                color:white; 
                font-family: 华文新魏;
                font-size: 15px;
		    }
		    .form-group1{
				width: 340px;
				height:40px;
				margin: auto;
				padding-left:60px ;
				margin-bottom: 20px;
				
			}
			
			 .bottom{
		 	 position: absolute;
		 	bottom: 0px;
            background-color:rgba(0,0,0,0.9);
            width:1536px;
            height:130px;
            margin:auto;
        }
        .bottom div{
        	margin:auto;
        	color: #FFFFFF;
            width:900px;
            padding-top:10px;
            font-size:20px;
            font-family:华文新魏;
        }
        .bottom .one{
            height:60px;
        }
        .bottom .two{
        	color: #FFFFFF;
        	font-size: 20px;
            font-family:STSong;
            text-align:center;
            font-weight:bold;
         }	