body{
				background: url("../img/bg.png");/*添加背景图片*/
				background-position: center center ;/*设置垂直 水平居中*/
				background-repeat: no-repeat;/*设置背景图片不平铺*/
				background-attachment: fixed;/*当内容高度大于图片高度时，背景图片的位置相对于viewport固定*/
				background-size: cover;/*让背景图片基于容器大小伸缩*/
				}
			
			
			.regist{
				
				padding-top: 25px;
				width: 400px;
				height: 545px;
				color: #FFFFFF;
				background-color: rgba(0,0,0,0.9);
				margin: auto;
				margin-top: 40px;
				
			}
			 .top{
		    	width: 998px;
		    	height: 110px;
		    	padding-top:40px ;
		    	margin: auto;
		    	margin-bottom: 5px;
		    }
			.form-group{
				width: 360px;
				height: 40px;
				margin: 20px;
				margin-left: 40px;
			}
			.form-group label{
				font-family: 华文新魏;
				float: left;
				text-align: center;
				line-height: 40px;
				width: 90px;
				height: 40px;
				
			}
			.form-group input{
				margin-top:6px ;
		    	width: 200px;
		    	height: 15px;
		    	outline: nono;
		    	padding: 5px;
		    	font-size: 13px;
		    	color: #FFFFFF;
		    	border: solid #FFFFFF 1px;
		    	background:none;
		    	border-radius: 20px;
		    	float: left;
			}
			.radio-inline{
				width: 100px;
				height: 40px;
				
			}
			.radio-inline input{
				width: 70px;
				height: 20px;
				margin-top: 10px;
			}
			h1{
		    	color: #fff;
		    	text-shadow: 0 0 10px;
		    	letter-spacing: 1px;
		    	text-align: center;
		    	font-family: 华文新魏;
		    	margin-bottom: 20px;
		    }
		    .deng{
		    	width:90px;
		    	margin: auto;
		    	position: relative;
		    
		    
		    }
		    .deng input{
		    	background: no-repeat scroll 0 0 none;
                height:35px;
                width:80px;
                color:white; 
                font-family: 华文新魏;
                font-size: 15px;
		    }
		    .one1{
		    	position: absolute;
		    	width: 300px;
		    	left: -105px;
		    	top: -40px;
		    	height: 35px;
		    	text-align: center;
		    	line-height: 35px;
		    			    }
		    			    
	    .bottom{
		 	 position: absolute;
		 	bottom: 0px;
            background-color:rgba(0,0,1,0.9);
            width:1536px;
            height:130px;
            margin:auto;
        }
        .bottom div{
        	margin:auto;
        	color: #FFFFFF;
            width:900px;
            padding-top:10px;
            font-size:20px;
            font-family:华文新魏;
        }
        .bottom .one{
            height:60px;
        }
        .bottom .two{
        	color: #FFFFFF;
        	font-size: 20px;
            font-family:STSong;
            text-align:center;
            font-weight:bold;
         }	
         .head{
         	width: 80px;
         	height: 80px;
         	background:url("../img/add_photo.png");
            background-size: cover;
         	border:solid 2px #FFFFFF;
         	float: left;
         	position: relative;
         	}    
         .round_icon{
				width: 80px;
			    height: 80px;
				display: flex;
				/*border-radius: 50%;*/
				align-items: center;
				justify-content: center;
				overflow: hidden;
				
			}