   body{
				background:url("../img/bg.png");/*娣诲姞鑳屾櫙鍥剧墖*/
				background-position: center center ;/*璁剧疆鍨傜洿 姘村钩灞呬腑*/
				background-repeat: no-repeat;/*璁剧疆鑳屾櫙鍥剧墖涓嶅钩閾�*/
				background-attachment: fixed;/*褰撳唴瀹归珮搴﹀ぇ浜庡浘鐗囬珮搴︽椂锛岃儗鏅浘鐗囩殑浣嶇疆鐩稿浜巚iewport鍥哄畾*/
				background-size: cover;/*璁╄儗鏅浘鐗囧熀浜庡鍣ㄥぇ灏忎几缂�*/
	 }
	 .main{
	 	margin: auto;
	 	width: 400px;
	 	margin-top: 300px;
	 	height: 200px;
	 	color: #FFFFFF;
	 	background:#000000;
	 }
	 .main .m{
	 	width: 100%;
	 	height: 60px;
	 	line-height: 60px;
	 	text-align: center;
	 	font-family: "华文新魏";
	 	font-size: 25px;
	 	color: #FFFFFF;
	 }
	 .main .input1{
	 	width: 300px;
	 	height: 25px;
	 	color: #000000;
	 	margin-top: 20px;
	 	margin-left: 50px;
	 	padding: 5px;
	 	background: #FFFFFF;
	 }
	 .main .input2{
	 	margin: 20px;
	 	margin-left: 160px;
	 	width: 80px;
	 	height: 30px;
	 	color: #FFFFFF;
	 	background: none;
	 	border: solid 1px #FFFFFF;
	 }